body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    max-width: 600px;
    padding: 1em;
}

h1 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

blockquote {
    border-left: 5px solid silver;
    margin-left: 5px;
    padding: 5px;font-style: italic;
}
